# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [13]:
df = df.loc[:,'school':'guardian']

### Step 5. Create a lambda function that captalize strings.

In [14]:
capitalizer = lambda x: x.upper()

### Step 6. Capitalize both Mjob and Fjob

In [17]:
df['Mjob'] = df['Mjob'].apply(capitalizer)
df['Fjob'] = df['Mjob'].apply(capitalizer)

In [18]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,AT_HOME,AT_HOME,course,mother
1,GP,F,17,U,GT3,T,1,1,AT_HOME,AT_HOME,course,father
2,GP,F,15,U,LE3,T,1,1,AT_HOME,AT_HOME,other,mother
3,GP,F,15,U,GT3,T,4,2,HEALTH,HEALTH,home,mother
4,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,home,father

### Step 7. Print the last elements of the data set.

In [20]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,SERVICES,SERVICES,course,other
391,MS,M,17,U,LE3,T,3,1,SERVICES,SERVICES,course,mother
392,MS,M,21,R,GT3,T,1,1,OTHER,OTHER,course,other
393,MS,M,18,R,LE3,T,3,2,SERVICES,SERVICES,course,mother
394,MS,M,19,U,LE3,T,1,1,OTHER,OTHER,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [21]:
#Already completed

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker

In [22]:
def majority(x):
    return x >= 21

In [24]:
df['legal_drinker'] = df['age'].apply(majority)

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [31]:
def mult10(x):
    if type(x) is str:
        return x
    else:
        return x * 10

In [32]:
df.applymap(mult10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,AT_HOME,AT_HOME,course,mother,0
1,GP,F,170,U,GT3,T,10,10,AT_HOME,AT_HOME,course,father,0
2,GP,F,150,U,LE3,T,10,10,AT_HOME,AT_HOME,other,mother,0
3,GP,F,150,U,GT3,T,40,20,HEALTH,HEALTH,home,mother,0
4,GP,F,160,U,GT3,T,30,30,OTHER,OTHER,home,father,0
5,GP,M,160,U,LE3,T,40,30,SERVICES,SERVICES,reputation,mother,0
6,GP,M,160,U,LE3,T,20,20,OTHER,OTHER,home,mother,0
7,GP,F,170,U,GT3,A,40,40,OTHER,OTHER,home,mother,0
8,GP,M,150,U,LE3,A,30,20,SERVICES,SERVICES,home,mother,0
9,GP,M,150,U,GT3,T,30,40,OTHER,OTHER,home,mother,0
10,GP,F,150,U,GT3,T,40,40,TEACHER,TEACHER,reputation,mother,0
11,GP,F,150,U,GT3,T,20,10,SERVICES,SERVICES,reputation,father,0
12,GP,M,150,U,LE3,T,40,40,HEALTH,HEALTH,course,father,0
13,GP,M,150,U,GT3,T,40,30,TEACHER,TEACHER,course,mother,0
14,GP,M,150,U,GT3,A,20,20,OTHER,OTHER,home,other,0
15,GP,F,160,U,GT3,T,40,40,HEALTH,HEALTH,home,mother,0
16,GP,F,160,U,GT3,T,40,40,SERVICES,SERVICES,reputation,mother,0
17,GP,F,160,U,GT3,T,30,30,OTHER,OTHER,reputation,mother,0
18,GP,M,170,U,GT3,T,30,20,SERVICES,SERVICES,course,mother,0
19,GP,M,160,U,LE3,T,40,30,HEALTH,HEALTH,home,father,0
20,GP,M,150,U,GT3,T,40,30,TEACHER,TEACHER,reputation,mother,0
21,GP,M,150,U,GT3,T,40,40,HEALTH,HEALTH,other,father,0
22,GP,M,160,U,LE3,T,40,20,TEACHER,TEACHER,course,mother,0
23,GP,M,160,U,LE3,T,20,20,OTHER,OTHER,reputation,mother,0
24,GP,F,150,R,GT3,T,20,40,SERVICES,SERVICES,course,mother,0
25,GP,F,160,U,GT3,T,20,20,SERVICES,SERVICES,home,mother,0
26,GP,M,150,U,GT3,T,20,20,OTHER,OTHER,home,mother,0
27,GP,M,150,U,GT3,T,40,20,HEALTH,HEALTH,other,mother,0
28,GP,M,160,U,LE3,A,30,40,SERVICES,SERVICES,home,mother,0
29,GP,M,160,U,GT3,T,40,40,TEACHER,TEACHER,home,mother,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,180,R,GT3,T,10,30,AT_HOME,AT_HOME,course,mother,0
366,MS,M,180,U,LE3,T,40,40,TEACHER,TEACHER,other,mother,0
367,MS,F,170,R,GT3,T,10,10,OTHER,OTHER,reputation,mother,0
368,MS,F,180,U,GT3,T,20,30,AT_HOME,AT_HOME,course,father,0
369,MS,F,180,R,GT3,T,40,40,OTHER,OTHER,other,father,0
370,MS,F,190,U,LE3,T,30,20,SERVICES,SERVICES,home,other,0
371,MS,M,180,R,LE3,T,10,20,AT_HOME,AT_HOME,other,father,0
372,MS,F,170,U,GT3,T,20,20,OTHER,OTHER,home,mother,0
373,MS,F,170,R,GT3,T,10,20,OTHER,OTHER,course,mother,0
374,MS,F,180,R,LE3,T,40,40,OTHER,OTHER,reputation,mother,0
375,MS,F,180,R,GT3,T,10,10,OTHER,OTHER,home,mother,0
376,MS,F,200,U,GT3,T,40,20,HEALTH,HEALTH,course,other,0
377,MS,F,180,R,LE3,T,40,40,TEACHER,TEACHER,course,mother,0
378,MS,F,180,U,GT3,T,30,30,OTHER,OTHER,home,mother,0
379,MS,F,170,R,GT3,T,30,10,AT_HOME,AT_HOME,reputation,mother,0
380,MS,M,180,U,GT3,T,40,40,TEACHER,TEACHER,home,father,0
381,MS,M,180,R,GT3,T,20,10,OTHER,OTHER,other,mother,0
382,MS,M,170,U,GT3,T,20,30,OTHER,OTHER,home,father,0
383,MS,M,190,R,GT3,T,10,10,OTHER,OTHER,other,mother,0
384,MS,M,180,R,GT3,T,40,20,OTHER,OTHER,home,father,0
385,MS,F,180,R,GT3,T,20,20,AT_HOME,AT_HOME,other,mother,0
386,MS,F,180,R,GT3,T,40,40,TEACHER,TEACHER,reputation,mother,0
387,MS,F,190,R,GT3,T,20,30,SERVICES,SERVICES,course,mother,0
388,MS,F,180,U,LE3,T,30,10,TEACHER,TEACHER,course,mother,0
389,MS,F,180,U,GT3,T,10,10,OTHER,OTHER,course,mother,0
390,MS,M,200,U,LE3,A,20,20,SERVICES,SERVICES,course,other,0
391,MS,M,170,U,LE3,T,30,10,SERVICES,SERVICES,course,mother,0
392,MS,M,210,R,GT3,T,10,10,OTHER,OTHER,course,other,10
393,MS,M,180,R,LE3,T,30,20,SERVICES,SERVICES,course,mother,0
394,MS,M,190,U,LE3,T,10,10,OTHER,OTHER,course,father,0