# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [22]:
df_sliced = df.loc[:, 'school':'guardian']

### Step 5. Create a lambda function that captalize strings.

In [27]:
def capitalizer(x):
    return ''.join([letter.capitalize() for letter in x])

### Step 6. Capitalize both Mjob and Fjob

In [28]:
df_sliced.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian'],
      dtype='object')

In [31]:
df_sliced['Mjob'] = df_sliced.apply(lambda row: capitalizer(row['Mjob']), axis=1)
df_sliced['Fjob'] = df_sliced.apply(lambda row: capitalizer(row['Fjob']), axis=1)

In [32]:
df_sliced.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,AT_HOME,TEACHER,course,mother
1,GP,F,17,U,GT3,T,1,1,AT_HOME,OTHER,course,father
2,GP,F,15,U,LE3,T,1,1,AT_HOME,OTHER,other,mother
3,GP,F,15,U,GT3,T,4,2,HEALTH,SERVICES,home,mother
4,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,home,father

### Step 7. Print the last elements of the data set.

In [33]:
df_sliced.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,SERVICES,SERVICES,course,other
391,MS,M,17,U,LE3,T,3,1,SERVICES,SERVICES,course,mother
392,MS,M,21,R,GT3,T,1,1,OTHER,OTHER,course,other
393,MS,M,18,R,LE3,T,3,2,SERVICES,OTHER,course,mother
394,MS,M,19,U,LE3,T,1,1,OTHER,AT_HOME,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [34]:
#completed already

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker

In [35]:
def majority(x):
    '''
    Takes in an individual's age and outputs True if they are above age 16.
    
    Input:
    ------
    age: int - individual's age
    
    Output:
    -------
    legal_drinker: bool - True if legal drinker
    '''
    return x > 16

In [36]:
df_sliced['legal_drinker'] = df_sliced.apply(lambda row: majority(row['age']), axis=1)

In [37]:
df_sliced.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,AT_HOME,TEACHER,course,mother,True
1,GP,F,17,U,GT3,T,1,1,AT_HOME,OTHER,course,father,True
2,GP,F,15,U,LE3,T,1,1,AT_HOME,OTHER,other,mother,False
3,GP,F,15,U,GT3,T,4,2,HEALTH,SERVICES,home,mother,False
4,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,home,father,False

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [43]:
def times10(x):
    if type(x) == int:
        return x * 10
    elif type(x) == float:
        return x * 10
    else:
        return x

In [44]:
df_sliced.applymap(times10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,AT_HOME,TEACHER,course,mother,True
1,GP,F,170,U,GT3,T,10,10,AT_HOME,OTHER,course,father,True
2,GP,F,150,U,LE3,T,10,10,AT_HOME,OTHER,other,mother,False
3,GP,F,150,U,GT3,T,40,20,HEALTH,SERVICES,home,mother,False
4,GP,F,160,U,GT3,T,30,30,OTHER,OTHER,home,father,False
5,GP,M,160,U,LE3,T,40,30,SERVICES,OTHER,reputation,mother,False
6,GP,M,160,U,LE3,T,20,20,OTHER,OTHER,home,mother,False
7,GP,F,170,U,GT3,A,40,40,OTHER,TEACHER,home,mother,True
8,GP,M,150,U,LE3,A,30,20,SERVICES,OTHER,home,mother,False
9,GP,M,150,U,GT3,T,30,40,OTHER,OTHER,home,mother,False
10,GP,F,150,U,GT3,T,40,40,TEACHER,HEALTH,reputation,mother,False
11,GP,F,150,U,GT3,T,20,10,SERVICES,OTHER,reputation,father,False
12,GP,M,150,U,LE3,T,40,40,HEALTH,SERVICES,course,father,False
13,GP,M,150,U,GT3,T,40,30,TEACHER,OTHER,course,mother,False
14,GP,M,150,U,GT3,A,20,20,OTHER,OTHER,home,other,False
15,GP,F,160,U,GT3,T,40,40,HEALTH,OTHER,home,mother,False
16,GP,F,160,U,GT3,T,40,40,SERVICES,SERVICES,reputation,mother,False
17,GP,F,160,U,GT3,T,30,30,OTHER,OTHER,reputation,mother,False
18,GP,M,170,U,GT3,T,30,20,SERVICES,SERVICES,course,mother,True
19,GP,M,160,U,LE3,T,40,30,HEALTH,OTHER,home,father,False
20,GP,M,150,U,GT3,T,40,30,TEACHER,OTHER,reputation,mother,False
21,GP,M,150,U,GT3,T,40,40,HEALTH,HEALTH,other,father,False
22,GP,M,160,U,LE3,T,40,20,TEACHER,OTHER,course,mother,False
23,GP,M,160,U,LE3,T,20,20,OTHER,OTHER,reputation,mother,False
24,GP,F,150,R,GT3,T,20,40,SERVICES,HEALTH,course,mother,False
25,GP,F,160,U,GT3,T,20,20,SERVICES,SERVICES,home,mother,False
26,GP,M,150,U,GT3,T,20,20,OTHER,OTHER,home,mother,False
27,GP,M,150,U,GT3,T,40,20,HEALTH,SERVICES,other,mother,False
28,GP,M,160,U,LE3,A,30,40,SERVICES,OTHER,home,mother,False
29,GP,M,160,U,GT3,T,40,40,TEACHER,TEACHER,home,mother,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,180,R,GT3,T,10,30,AT_HOME,OTHER,course,mother,True
366,MS,M,180,U,LE3,T,40,40,TEACHER,SERVICES,other,mother,True
367,MS,F,170,R,GT3,T,10,10,OTHER,SERVICES,reputation,mother,True
368,MS,F,180,U,GT3,T,20,30,AT_HOME,SERVICES,course,father,True
369,MS,F,180,R,GT3,T,40,40,OTHER,TEACHER,other,father,True
370,MS,F,190,U,LE3,T,30,20,SERVICES,SERVICES,home,other,True
371,MS,M,180,R,LE3,T,10,20,AT_HOME,SERVICES,other,father,True
372,MS,F,170,U,GT3,T,20,20,OTHER,AT_HOME,home,mother,True
373,MS,F,170,R,GT3,T,10,20,OTHER,OTHER,course,mother,True
374,MS,F,180,R,LE3,T,40,40,OTHER,OTHER,reputation,mother,True
375,MS,F,180,R,GT3,T,10,10,OTHER,OTHER,home,mother,True
376,MS,F,200,U,GT3,T,40,20,HEALTH,OTHER,course,other,True
377,MS,F,180,R,LE3,T,40,40,TEACHER,SERVICES,course,mother,True
378,MS,F,180,U,GT3,T,30,30,OTHER,OTHER,home,mother,True
379,MS,F,170,R,GT3,T,30,10,AT_HOME,OTHER,reputation,mother,True
380,MS,M,180,U,GT3,T,40,40,TEACHER,TEACHER,home,father,True
381,MS,M,180,R,GT3,T,20,10,OTHER,OTHER,other,mother,True
382,MS,M,170,U,GT3,T,20,30,OTHER,SERVICES,home,father,True
383,MS,M,190,R,GT3,T,10,10,OTHER,SERVICES,other,mother,True
384,MS,M,180,R,GT3,T,40,20,OTHER,OTHER,home,father,True
385,MS,F,180,R,GT3,T,20,20,AT_HOME,OTHER,other,mother,True
386,MS,F,180,R,GT3,T,40,40,TEACHER,AT_HOME,reputation,mother,True
387,MS,F,190,R,GT3,T,20,30,SERVICES,OTHER,course,mother,True
388,MS,F,180,U,LE3,T,30,10,TEACHER,SERVICES,course,mother,True
389,MS,F,180,U,GT3,T,10,10,OTHER,OTHER,course,mother,True
390,MS,M,200,U,LE3,A,20,20,SERVICES,SERVICES,course,other,True
391,MS,M,170,U,LE3,T,30,10,SERVICES,SERVICES,course,mother,True
392,MS,M,210,R,GT3,T,10,10,OTHER,OTHER,course,other,True
393,MS,M,180,R,LE3,T,30,20,SERVICES,OTHER,course,mother,True
394,MS,M,190,U,LE3,T,10,10,OTHER,AT_HOME,course,father,True